body {
  font-family: Roboto, Sans-Serif;
}

.shadowbox {
  width: 15em;
  border: 1px solid #333;
  box-shadow: 0 5px 8px #444;
  padding: 8px 12px;
  background: linear-gradient(to top, rgb(94, 94, 94), rgb(251, 255, 0));
}

h1 {
  color: lightgreen;
  text-shadow: 1px 1px 5px #000, -1px -1px 5px #000;
}

.shadowbox p::first-letter {
  font-size: 3em;
  padding: 2px;
  margin-right: 3px;
  color: lightgreen;
  float: left;
  line-height: 0.4em;
  text-shadow: 1px 1px 2px #000, -1px -1px 2px #000;
}
p {
  clear: left;
}

a {
  text-decoration: none;
  color:  #4953dd;
}
a:hover {
  color: #8f96fa;
}
